@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

a {
  display: block;
  text-decoration: none;
  width: 120px;
  height: 50px;
  font-family: Poppins;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fcfd86;
  background-color: transparent;
}

a:hover {
  animation: tombol .5s forwards;
}

.container {
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    border: 3px solid #fcfd86;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  a:hover {
    animation: none;
  }
}

@keyframes tombol {
  from {
    box-shadow: 0 0 0 #fcfd86;
  }
  to {
    box-shadow: 0 3px 0 #fcfd86;
  }
}

@keyframes zoom {
  from {
    transform: scale(5);
  }
  to {
    transform: scale(1);
  }
  a {
    border: 4px solid #fcfd86;
  }
}
