@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  width: 1px;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../foto/school.png);
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.judul {
  width: 100%;
  height: 60px;
  background-color: white;
}

.judul span {
  font-family: Koulen;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 20px;
  color: #0dc8fc;
}

.nav-btn {
  width: 100%;
  height: 40px;
  background-color: #0dc8fc;
}

.nav-btn a {
  float: left;
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
}

.nav-btn span {
  float: right;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  font-family: Koulen;
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.materi {
  width: 1200px;
  margin: 110px auto 0 auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 20px;
  background-color: rgb(39, 36, 36);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: .6;
}

footer span {
  text-transform: uppercase;
  font-family: arial;
  line-height: 20px;
  font-size: 15px;
  color: white;
}

iframe {
  display: block;
  margin: 10px auto;
  width: 1000px;
  height: 500px;
  border: 3px solid #0dc8fc;
}

.tenses {
  padding-top: 10px;
}

.pidato {
  width: 1100px;
  font-family: roboto;
  text-align: center;
  margin: 20px auto;
  background-color: rgb(0, 180, 216, .5);
  border-radius: 20px;
  border: rgb(3, 4, 94, .5) solid;
  padding: 5px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

@media (max-width : 400px){
  .materi {
    width: 90%;
  }
  iframe {
    width: 330px;
    height: 300px;
  }
  .pidato {
    width: 340px;            
  }
}
