body {
    margin: 0;
    padding: 0;
    background-image: url(../foto/floor-tile.png);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-family: hack;
    padding: 5px;
    border-top: 2px dashed;
    border-bottom: 2px dashed;
}

h2 {
    text-align: center;
}

h2 a:hover {
    color: blue;
}

button {
    display: flex;
    justify-content: center;
}

iframe {
    display: block;
    margin: auto;
    width="1000px"
    height="500px"
}

.pidato {
    width: 1200px;
    font-family: roboto;
    text-align: center;
    margin: 20px auto;
    background-color: rgb(0, 180, 216, .5);
    border-radius: 20px;
    border: rgb(3, 4, 94, .5) solid;
    padding: 5px;
    box-sizing: border-box;
}

.kotak {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 20px;
}

.kotak-1{
    width: 550px;
    height: 600px;
    border: 2px rgb(3, 4, 94) solid;
    display: inline-block;
    background-image: url(../foto/english-1.jpg);
    background-size: cover;
}

.kotak-2{
    width: 500px;
    height: 600px;
    border: 2px rgb(3, 4, 94) solid;
    display: inline-block;
    background-image: url(../foto/slangs.jpg);
    background-size: cover;
}


@media (max-width : 400px){
    iframe {
      width: 350px;
      height: 300px;
    }
    .pidato {
      width: 350px;            
    }
    .kotak {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kotak-2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }