@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html {
  scroll-behavior: smooth;
  user-select: none;
}

::-webkit-scrollbar {
  width: 1px;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../foto/school.png);
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
}

.judul {
  width: 100%;
  height: 60px;
  background-color: white;
}

.judul span {
  font-family: Koulen;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 20px;
  color: #0dc8fc;
}

.nav-btn {
  width: 100%;
  height: 40px;
  background-color: #0dc8fc;
}

.nav-btn a {
  float: left;
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
}

.nav-btn span {
  float: right;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  font-family: Koulen;
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.materi {
  height: 1500px;
  width: 90%;
  margin: 110px auto 0 auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 10px;
  padding-top: 10px;
}

footer {
  width: 100%;
  height: 20px;
  background-color: rgb(39, 36, 36);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: .6;
}

footer span {
  text-transform: uppercase;
  font-family: arial;
  line-height: 20px;
  font-size: 15px;
  color: white;
}

iframe {
  display: block;
  margin: auto;
  width: 800px;
  height: 1000px;
}

h1 {
  text-align: center;
  font-family: koulen;
  text-transform: uppercase;
}

@media {
  iframe {
    width: 340px;
    height: 600px;
  }
}
