body {
  background-image: url(../foto/skulls.png);
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  padding: 5px;
  font-family: hack;
  border-top: 2px dashed;
  border-bottom: 2px dashed;
}

h2 {
  text-align: center;
}

h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  color: rgba(0, 0, 255, 0.692);
}

table {
  text-align: center;
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin: auto;
}

table a {
  text-decoration: none;
  color: black;
}

.tombol {
  position: fixed;
  right: 50px;
  top: 550px;
}

.tombol h3 {
  width: 80px;
  height: 30px;
  border: 2px dashed black;
  text-align: center;
  line-height: 30px;
}

.tombol a {
  text-decoration: none;
  color: black;
}

@media (max-width : 400px){
  iframe {
    width: 350px;
    height: 300px;
  }
}

